@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap'); */

* {
  @apply box-border p-0 m-0;
}

/* main-root {
  font-family: "Barlow", sans-serif;
} */

html,
body {
  /* font-family: 'Barlow', sans-serif; */
  font-family: "Barlow";
  scroll-behavior: smooth;
}

::selection {
  @apply text-white bg-teal-500;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}

.back-to-top {
  @apply fixed flex items-center justify-center p-5 text-xl text-gray-100 bg-gray-900 rounded-full cursor-pointer bottom-8 right-8 dark:bg-gray-100 dark:text-gray-900;
}

.footer-links {
  @apply my-2 text-lg text-gray-500 transition-colors duration-300 cursor-pointer w-fit hover:text-black dark:hover:text-white;
}

.name {
  font-weight: bolder;
}
